
*.sln

*.csproj

1lab/1labNet/.vs/

1lab/1labNet/1labNet/bin/

1lab/1labNet/1labNet/obj/
*.ini

*.pdf

2lab/Lab2Net/.vs/Lab2Net/v16/

2lab/Lab2Net/Lab2Net/obj/

*.v2

*.docx

2lab/Lab2Net/Lab2Net/bin/Debug/net5.0/

3lab/Lab3Net/.vs/Lab3Net/v16/

*.json

*.dll

*.exe

*.pdb

3lab/Lab3Net/Lab3Net/obj/Debug/net5.0/

*.props

*.targets

*.cache

mkr

4lab/Lab4Net/.vs/Lab4Net/v16/.suo

4lab/Lab4Net/Lab4Net/obj/Debug/net5.0/

5lab/Lab5Net/.vs/Lab5Net/v16/

5lab/Lab5Net/Lab5Net/obj/Debug/net5.0/
