
*.sln

*.csproj

1lab/1labNet/.vs/

1lab/1labNet/1labNet/bin/

1lab/1labNet/1labNet/obj/
*.ini

*.pdf

2lab/Lab2Net/.vs/Lab2Net/v16/

2lab/Lab2Net/Lab2Net/obj/

*.v2

*.docx

2lab/Lab2Net/Lab2Net/bin/Debug/net5.0/

3lab/Lab3Net/.vs/Lab3Net/v16/

*.json

*.dll

*.exe

*.pdb

3lab/Lab3Net/Lab3Net/obj/Debug/net5.0/

*.props

*.targets

*.cache
